<div class="blog-post">
  <div class="container border rounded m-3 bg-secondary">
    <div class="border-bottom">
      <h2>{{post_title}}</h2>
      <h3>Posted by: {{user.name}}</h3>
    </div>
    <div class="border-bottom">
      <p class="post-content">{{contents}}</p>
    </div>
    <p>Posted at: {{date}}</p>
    {{#each comments as |comment|}}
      <div class="container border rounded m-1 bg-light">
        <p>{{comment.comment}}</p>
        <p>{{comment.date}}</p>
      </div>
    {{/each}}
  </div>
</div>
<div class="container ml-3">
  <h3>Add a comment</h3>
  <form id="comment-text">
    <div class="form-group">
      <label for="post-comment">Your comment</label>
      <input type="text" class="form-control" id="post-comment" />
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>